.homepage-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.contentStyle {
  height: 160px;
  color: #fff;
  height: '600px';
  align-items: 'center';
  background: #0cd2a7;
}

.imagem-index {
  width: 100%;
  height: 600px;
}

.chart-container {
  margin: 20px 10px 10px 20px;
  padding: 10px;
  width: 90vw;
  height: 80vh;
  align-self: center;
  box-sizing: border-box;
}

.chart-container #first-row-chart {
  height: 230px;
  margin-bottom: 40px;
}

.chart-container .ant-row .ant-col {
  height: 100%;
}

.chart-container .ant-row .ant-col-11 {
  padding: 10px 20px 50px 20px;
  background-color: white;
  border-radius: 5px;
  margin: 10px 10px;
}

.chart-container .ant-row .ant-col-11 h1 {
  line-height: 40px;
  font-size: 15px;
  color: #555;
  text-align: center;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  font-weight: bold;
}

.home-buttons-container {
  align-self: center;
}

.exam-button {
  margin: 0px 5px;
  border-radius: 4px;
  padding: 10px;
  font-weight: bold;
  
}
